<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Doc Writer</string>
	<key>uuid</key>
	<string>5E7336C1-13DF-4B65-8F0A-D273692A8012</string>
</dict>
</plist>
