<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Wilker PHP</string>
	<key>ordering</key>
	<array>
		<string>3C9DCE91-69AE-49B4-BED7-5874D467D21C</string>
		<string>E04D3214-6387-4F76-90ED-7EE62A85D35B</string>
		<string>DB3FD89B-266A-4598-B669-D0706BDF77EC</string>
	</array>
	<key>uuid</key>
	<string>43901D69-FC85-4D8D-9529-41AC2F607229</string>
</dict>
</plist>
