<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Limber Spec</string>
	<key>uuid</key>
	<string>67D60113-F7F1-4749-AAE5-B6C2F7FDCFA8</string>
</dict>
</plist>
