<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Wilker Coffee</string>
	<key>uuid</key>
	<string>24A94809-6E76-4ED9-ACE5-8E9983A2C1D9</string>
</dict>
</plist>
